.navbar-style{
    width: 1624px;
    height: 97px;
    background-color: #ffffff;
}
.logo{
    height: 48px;
    padding: 2px 10px;
}

.he1{
    font-size: 60px;
    letter-spacing: -1px;
    color: #ffffff;
    font-family: "Raleway";
}
.ph{
    font-size: 20px;
    color: #ffffff;
    font-family: "Raleway";
    padding-right: 260px;
}
.he2{
    color: #303234;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    padding-bottom: 20px;
}

.bt1{
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    width: 205px;
    height: 46px;
    border-radius: 19px;
    filter: drop-shadow(-8.66px 5px 10px rgba(0,0,0,0.2));
    background-color: #3b999f;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.hea{
    font-size: 44px;
    color: #303234;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    padding: 100px 0px 20px;
}
.phe{
    height: 35px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 68px;
    color: #303234;
    font-weight: 700;
    font-family: "Raleway";
    text-align: right;
}
.pher{
    height: 200px;
    font-size: 22px;
    line-height: 28px;
    color: #747e80;
    font-weight: 500;
    font-family: "Raleway";
    text-align: right;
    padding-left: 60px;
}
.phe2{
    height: 35px;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 68px;
    color: #303234;
    font-weight: 700;
    font-family: "Raleway";
}
.pher2{
    height: 200px;
    font-size: 22px;
    line-height: 28px;
    color: #747e80;
    font-weight: 500;
    font-family: "Raleway";
    padding-right: 60px;
}
.heade{
    font-size: 44px;
    line-height: 68px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    padding-top: 80px;
}
.phera{
    height: 99px;
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 32px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;
    padding: 0px 240px 20px;
}
.heade2{
    font-size: 44px;
    color: #000000;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
    padding-top: 80px;
    padding-bottom: 20px;
}
.phe3{
    height: 12px;
    font-size: 18px;
    letter-spacing: 4px;
    /* line-height: 80px; */
    color: #000000;
    font-weight: 600;
    font-family: "Raleway";
    text-align: center;
    padding-bottom: 60px;
}
.pher3{
    font-size: 21px;
    line-height: 30px;
    color: #040404;
    font-weight: 500;
    font-family: "Raleway";
    text-align: center;
    padding: 0px 30px;
}
.Choose{
    width: 175px;
    height: 185px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo2{
    height: 48px;
    padding: 2px 8px;
}
.phara4{
    font-size: 20px;
    letter-spacing: 0px;
    color: #303234;
    /* font-weight: 600; */
    font-family: "Raleway";
}

.map-responsive{
    overflow:hidden;
    padding-bottom:85%;
    position:relative;
    height:0;
    border-radius: 49px;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.heade3{
    font-size: 28px;
    line-height: 32px;
    color: #303234;
    font-weight: 700;
    font-family: "Raleway";
    text-align: center;
}
.logo3{
    width: 100px;
    height: 100px;
    border-radius: 60px;
    filter: drop-shadow(-8.66px 5px 12.5px rgba(0,0,0,0.2));
    background-color: #ffffff;
    padding: 30px;
}